@{
    ViewBag.Title = "О нас";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Наша компания уже более десяти лет оказывает услуги на строительном рынке. 
    Богатый опыт, следование строительным стандартам, сотрудничество с проверенными поставщиками матералов и услуг, 
    надежный и проверенный коллектив исполнителей дают нам возможность предоставлять качественные услуги нашим заказчикам.
    Таким образом мы реализуем нашу миссию на рынке строительных услуг - в оптимальные сроки доставляем качественный
    продукт нашим заказчикам. Мы не хотим быть голословными, поэтому предлагаем ознакомиться с нашими работами
    и прочитать отзывы наших клиентов. Мы уверены, что они не оставят вас равнодушными.
</p>