@{
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    г. Нижний Новгород ул. Минина д.1<br />
    <abbr title="Phone">Телефон:</abbr>
    8-800-235-35-35
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>